@using EcologicInnovations.Web.Security

@if (User.IsAdmin())
{
    <a class="btn btn-sm btn-success rounded-pill px-3" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
        Admin
    </a>
}
