@using EcologicInnovations.Web.Security

<ul class="navbar-nav align-items-lg-center">
    @if (User.IsSignedIn())
    {
        <li class="nav-item">
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  method="post"
                  class="d-inline">
                <button type="submit" class="btn btn-outline-secondary btn-sm rounded-pill px-3">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm rounded-pill px-3"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
