@page
@model EcologicInnovations.Web.Areas.Identity.Pages.Account.LogoutModel

<form id="logoutForm" method="post" asp-page-handler="Logout"></form>
<script>document.getElementById('logoutForm').submit();</script>
